<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
</head>

<body>

<!-- Logout --> <div style="text-align:right; margin-bottom:15px;">
    <a th:href="@{/logout}" onclick="return confirm('Are you sure you want to logout?')">
        Logout
    </a>
</div>
<div class="card">

<h1>Admin Dashboard</h1>

    <p> Total Users: <strong th:text="${totalUsers}">0</strong> </p>
    <br>
    <h3>Admin Controls</h3>
    <br> <div>
    <a th:href="@{/admin/create-user}" class="btn-add">
        ➕ Create User </a>
    <br><br>
    <a th:href="@{/admin/users}" class="btn-update"> 👥 Manage Users </a>
    <br><br> <a th:href="@{/admin/teams}" class="btn-add"> 🏢 Create Team </a>
    <br>
    <br>
    <a th:href="@{/admin/teams}" class="btn-update"> ⚙️ Manage Teams
    </a> </div> </div>

</body>
</html>