<h2 xmlns:th="http://www.w3.org/1999/xhtml">User Management</h2>

    <table xmlns:th="http://www.w3.org/1999/xhtml">

<tr>
<th>ID</th>
<th>Email</th>
<th>Role</th>
 <th>Status</th>
<th>Actions</th>
</tr>

    <tr th:each="user : ${users}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>

        <td th:text="${user.active ? 'Active' : 'Inactive'}"></td>

        <td>
            <a th:if="${user.role == 'USER'}"
               th:href="@{/admin/promote/{id}(id=${user.id})}">
                Promote to Manager
            </a>

            <a th:if="${user.role == 'MANAGER'}"
               th:href="@{/admin/demote/{id}(id=${user.id})}">
                Demote to User
            </a>
</td>
        <td>
            <a th:if="${user.active}"
               th:href="@{/admin/deactivate/{id}(id=${user.id})}">
                Deactivate
            </a>

            <a th:if="${!user.active}"
               th:href="@{/admin/activate/{id}(id=${user.id})}">
                Activate
            </a>

        </td>

    </tr>

</table>